.diskinfo {
    margin: 5px;
    padding: 3px 3px;
    border-radius: 25px;
    width:100%;
    background-color: darkseagreen;
    border: 1px soild black;
    &.inactive {
        background-color: grey;
    }
    cursor: default;
    
    span {
        padding-left: 3px;
        color: blue;
        cursor: pointer;
    }
}
